html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
    width: 400px;

    display: grid;
}


.calculator-screen {
    background-color:black;

    grid-row: 1 / 2;
    grid-column: 1 / 4;

    height: 67px;

}
.screen {
    color:white;
    text-align:right;

    margin-top: 20px;
    margin-right: 40px;

    font-size: xx-large;
}
.calculator-buttons {
    grid-row: 2 / 7;
    grid-column: 1 / 4;
    
}

.row {
    display: flex;
    flex-direction: row;
}

button {
    flex: 1;
    height: 67px;
}

.span-btn-c {
    flex: 2;
    padding-right: 22px;
}
.span-btn-zero {
    flex: 3;
    padding-right: 38px;
}
